<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-avi-index") %>>
          <a href="/docs/providers/avi/index.html">Avi Provider</a>
        </li>

        <li<%= sidebar_current("docs-avi-datasource") %>>
          <a href="#">Avi Data Sources</a>
          <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-avi-useraccountprofile") %>>
              <a href="/docs/providers/avi/d/avi_useraccountprofile.html">UserAccountProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-role") %>>
              <a href="/docs/providers/avi/d/avi_role.html">Role</a>
            </li>
                      <li<%= sidebar_current("docs-avi-ipaddrgroup") %>>
              <a href="/docs/providers/avi/d/avi_ipaddrgroup.html">IpAddrGroup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-microservicegroup") %>>
              <a href="/docs/providers/avi/d/avi_microservicegroup.html">MicroServiceGroup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-stringgroup") %>>
              <a href="/docs/providers/avi/d/avi_stringgroup.html">StringGroup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-trafficcloneprofile") %>>
              <a href="/docs/providers/avi/d/avi_trafficcloneprofile.html">TrafficCloneProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-webhook") %>>
              <a href="/docs/providers/avi/d/avi_webhook.html">Webhook</a>
            </li>
                      <li<%= sidebar_current("docs-avi-authprofile") %>>
              <a href="/docs/providers/avi/d/avi_authprofile.html">AuthProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-sslkeyandcertificate") %>>
              <a href="/docs/providers/avi/d/avi_sslkeyandcertificate.html">SSLKeyAndCertificate</a>
            </li>
                      <li<%= sidebar_current("docs-avi-sslprofile") %>>
              <a href="/docs/providers/avi/d/avi_sslprofile.html">SSLProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-pkiprofile") %>>
              <a href="/docs/providers/avi/d/avi_pkiprofile.html">PKIProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-certificatemanagementprofile") %>>
              <a href="/docs/providers/avi/d/avi_certificatemanagementprofile.html">CertificateManagementProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-l4policyset") %>>
              <a href="/docs/providers/avi/d/avi_l4policyset.html">L4PolicySet</a>
            </li>
                      <li<%= sidebar_current("docs-avi-scheduler") %>>
              <a href="/docs/providers/avi/d/avi_scheduler.html">Scheduler</a>
            </li>
                      <li<%= sidebar_current("docs-avi-backupconfiguration") %>>
              <a href="/docs/providers/avi/d/avi_backupconfiguration.html">BackupConfiguration</a>
            </li>
                      <li<%= sidebar_current("docs-avi-tenant") %>>
              <a href="/docs/providers/avi/d/avi_tenant.html">Tenant</a>
            </li>
                      <li<%= sidebar_current("docs-avi-serviceenginegroup") %>>
              <a href="/docs/providers/avi/d/avi_serviceenginegroup.html">ServiceEngineGroup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-dnspolicy") %>>
              <a href="/docs/providers/avi/d/avi_dnspolicy.html">DnsPolicy</a>
            </li>
                      <li<%= sidebar_current("docs-avi-hardwaresecuritymodulegroup") %>>
              <a href="/docs/providers/avi/d/avi_hardwaresecuritymodulegroup.html">HardwareSecurityModuleGroup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-vrfcontext") %>>
              <a href="/docs/providers/avi/d/avi_vrfcontext.html">VrfContext</a>
            </li>
                      <li<%= sidebar_current("docs-avi-cloudproperties") %>>
              <a href="/docs/providers/avi/d/avi_cloudproperties.html">CloudProperties</a>
            </li>
                      <li<%= sidebar_current("docs-avi-applicationpersistenceprofile") %>>
              <a href="/docs/providers/avi/d/avi_applicationpersistenceprofile.html">ApplicationPersistenceProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-backup") %>>
              <a href="/docs/providers/avi/d/avi_backup.html">Backup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-networksecuritypolicy") %>>
              <a href="/docs/providers/avi/d/avi_networksecuritypolicy.html">NetworkSecurityPolicy</a>
            </li>
                      <li<%= sidebar_current("docs-avi-seproperties") %>>
              <a href="/docs/providers/avi/d/avi_seproperties.html">SeProperties</a>
            </li>
                      <li<%= sidebar_current("docs-avi-gslbgeodbprofile") %>>
              <a href="/docs/providers/avi/d/avi_gslbgeodbprofile.html">GslbGeoDbProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-gslbservice") %>>
              <a href="/docs/providers/avi/d/avi_gslbservice.html">GslbService</a>
            </li>
                      <li<%= sidebar_current("docs-avi-gslb") %>>
              <a href="/docs/providers/avi/d/avi_gslb.html">Gslb</a>
            </li>
                      <li<%= sidebar_current("docs-avi-cluster") %>>
              <a href="/docs/providers/avi/d/avi_cluster.html">Cluster</a>
            </li>
                      <li<%= sidebar_current("docs-avi-clusterclouddetails") %>>
              <a href="/docs/providers/avi/d/avi_clusterclouddetails.html">ClusterCloudDetails</a>
            </li>
                      <li<%= sidebar_current("docs-avi-wafpolicy") %>>
              <a href="/docs/providers/avi/d/avi_wafpolicy.html">WafPolicy</a>
            </li>
                      <li<%= sidebar_current("docs-avi-wafprofile") %>>
              <a href="/docs/providers/avi/d/avi_wafprofile.html">WafProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-snmptrapprofile") %>>
              <a href="/docs/providers/avi/d/avi_snmptrapprofile.html">SnmpTrapProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-systemconfiguration") %>>
              <a href="/docs/providers/avi/d/avi_systemconfiguration.html">SystemConfiguration</a>
            </li>
                      <li<%= sidebar_current("docs-avi-networkprofile") %>>
              <a href="/docs/providers/avi/d/avi_networkprofile.html">NetworkProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-errorpagebody") %>>
              <a href="/docs/providers/avi/d/avi_errorpagebody.html">ErrorPageBody</a>
            </li>
                      <li<%= sidebar_current("docs-avi-errorpageprofile") %>>
              <a href="/docs/providers/avi/d/avi_errorpageprofile.html">ErrorPageProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-controllerproperties") %>>
              <a href="/docs/providers/avi/d/avi_controllerproperties.html">ControllerProperties</a>
            </li>
                      <li<%= sidebar_current("docs-avi-healthmonitor") %>>
              <a href="/docs/providers/avi/d/avi_healthmonitor.html">HealthMonitor</a>
            </li>
                      <li<%= sidebar_current("docs-avi-analyticsprofile") %>>
              <a href="/docs/providers/avi/d/avi_analyticsprofile.html">AnalyticsProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-cloud") %>>
              <a href="/docs/providers/avi/d/avi_cloud.html">Cloud</a>
            </li>
                      <li<%= sidebar_current("docs-avi-cloudconnectoruser") %>>
              <a href="/docs/providers/avi/d/avi_cloudconnectoruser.html">CloudConnectorUser</a>
            </li>
                      <li<%= sidebar_current("docs-avi-virtualservice") %>>
              <a href="/docs/providers/avi/d/avi_virtualservice.html">VirtualService</a>
            </li>
                      <li<%= sidebar_current("docs-avi-vsvip") %>>
              <a href="/docs/providers/avi/d/avi_vsvip.html">VsVip</a>
            </li>
                      <li<%= sidebar_current("docs-avi-alertsyslogconfig") %>>
              <a href="/docs/providers/avi/d/avi_alertsyslogconfig.html">AlertSyslogConfig</a>
            </li>
                      <li<%= sidebar_current("docs-avi-alertscriptconfig") %>>
              <a href="/docs/providers/avi/d/avi_alertscriptconfig.html">AlertScriptConfig</a>
            </li>
                      <li<%= sidebar_current("docs-avi-alertconfig") %>>
              <a href="/docs/providers/avi/d/avi_alertconfig.html">AlertConfig</a>
            </li>
                      <li<%= sidebar_current("docs-avi-actiongroupconfig") %>>
              <a href="/docs/providers/avi/d/avi_actiongroupconfig.html">ActionGroupConfig</a>
            </li>
                      <li<%= sidebar_current("docs-avi-alertemailconfig") %>>
              <a href="/docs/providers/avi/d/avi_alertemailconfig.html">AlertEmailConfig</a>
            </li>
                      <li<%= sidebar_current("docs-avi-vsdatascriptset") %>>
              <a href="/docs/providers/avi/d/avi_vsdatascriptset.html">VSDataScriptSet</a>
            </li>
                      <li<%= sidebar_current("docs-avi-customipamdnsprofile") %>>
              <a href="/docs/providers/avi/d/avi_customipamdnsprofile.html">CustomIpamDnsProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-ipamdnsproviderprofile") %>>
              <a href="/docs/providers/avi/d/avi_ipamdnsproviderprofile.html">IpamDnsProviderProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-poolgroup") %>>
              <a href="/docs/providers/avi/d/avi_poolgroup.html">PoolGroup</a>
            </li>
                      <li<%= sidebar_current("docs-avi-prioritylabels") %>>
              <a href="/docs/providers/avi/d/avi_prioritylabels.html">PriorityLabels</a>
            </li>
                      <li<%= sidebar_current("docs-avi-poolgroupdeploymentpolicy") %>>
              <a href="/docs/providers/avi/d/avi_poolgroupdeploymentpolicy.html">PoolGroupDeploymentPolicy</a>
            </li>
                      <li<%= sidebar_current("docs-avi-pool") %>>
              <a href="/docs/providers/avi/d/avi_pool.html">Pool</a>
            </li>
                      <li<%= sidebar_current("docs-avi-network") %>>
              <a href="/docs/providers/avi/d/avi_network.html">Network</a>
            </li>
                      <li<%= sidebar_current("docs-avi-serverautoscalepolicy") %>>
              <a href="/docs/providers/avi/d/avi_serverautoscalepolicy.html">ServerAutoScalePolicy</a>
            </li>
                      <li<%= sidebar_current("docs-avi-autoscalelaunchconfig") %>>
              <a href="/docs/providers/avi/d/avi_autoscalelaunchconfig.html">AutoScaleLaunchConfig</a>
            </li>
                      <li<%= sidebar_current("docs-avi-applicationprofile") %>>
              <a href="/docs/providers/avi/d/avi_applicationprofile.html">ApplicationProfile</a>
            </li>
                      <li<%= sidebar_current("docs-avi-httppolicyset") %>>
              <a href="/docs/providers/avi/d/avi_httppolicyset.html">HTTPPolicySet</a>
            </li>
                      <li<%= sidebar_current("docs-avi-serviceengine") %>>
              <a href="/docs/providers/avi/d/avi_serviceengine.html">ServiceEngine</a>
            </li>
                      <li<%= sidebar_current("docs-avi-fileservice") %>>
              <a href="/docs/providers/avi/d/avi_fileservice.html">FileService</a>
            </li>
                      <li<%= sidebar_current("docs-avi-server") %>>
              <a href="/docs/providers/avi/d/avi_server.html">Server</a>
            </li>
                    </ul>
        </li>

        <li<%= sidebar_current("docs-avi-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-avi-useraccountprofile") %>>
              <a href="/docs/providers/avi/r/avi_useraccountprofile.html">UserAccountProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-role") %>>
              <a href="/docs/providers/avi/r/avi_role.html">Role</a>
            </li>
		              <li<%= sidebar_current("docs-avi-ipaddrgroup") %>>
              <a href="/docs/providers/avi/r/avi_ipaddrgroup.html">IpAddrGroup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-microservicegroup") %>>
              <a href="/docs/providers/avi/r/avi_microservicegroup.html">MicroServiceGroup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-stringgroup") %>>
              <a href="/docs/providers/avi/r/avi_stringgroup.html">StringGroup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-trafficcloneprofile") %>>
              <a href="/docs/providers/avi/r/avi_trafficcloneprofile.html">TrafficCloneProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-webhook") %>>
              <a href="/docs/providers/avi/r/avi_webhook.html">Webhook</a>
            </li>
		              <li<%= sidebar_current("docs-avi-authprofile") %>>
              <a href="/docs/providers/avi/r/avi_authprofile.html">AuthProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-sslkeyandcertificate") %>>
              <a href="/docs/providers/avi/r/avi_sslkeyandcertificate.html">SSLKeyAndCertificate</a>
            </li>
		              <li<%= sidebar_current("docs-avi-sslprofile") %>>
              <a href="/docs/providers/avi/r/avi_sslprofile.html">SSLProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-pkiprofile") %>>
              <a href="/docs/providers/avi/r/avi_pkiprofile.html">PKIProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-certificatemanagementprofile") %>>
              <a href="/docs/providers/avi/r/avi_certificatemanagementprofile.html">CertificateManagementProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-l4policyset") %>>
              <a href="/docs/providers/avi/r/avi_l4policyset.html">L4PolicySet</a>
            </li>
		              <li<%= sidebar_current("docs-avi-scheduler") %>>
              <a href="/docs/providers/avi/r/avi_scheduler.html">Scheduler</a>
            </li>
		              <li<%= sidebar_current("docs-avi-backupconfiguration") %>>
              <a href="/docs/providers/avi/r/avi_backupconfiguration.html">BackupConfiguration</a>
            </li>
		              <li<%= sidebar_current("docs-avi-tenant") %>>
              <a href="/docs/providers/avi/r/avi_tenant.html">Tenant</a>
            </li>
		              <li<%= sidebar_current("docs-avi-serviceenginegroup") %>>
              <a href="/docs/providers/avi/r/avi_serviceenginegroup.html">ServiceEngineGroup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-dnspolicy") %>>
              <a href="/docs/providers/avi/r/avi_dnspolicy.html">DnsPolicy</a>
            </li>
		              <li<%= sidebar_current("docs-avi-hardwaresecuritymodulegroup") %>>
              <a href="/docs/providers/avi/r/avi_hardwaresecuritymodulegroup.html">HardwareSecurityModuleGroup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-vrfcontext") %>>
              <a href="/docs/providers/avi/r/avi_vrfcontext.html">VrfContext</a>
            </li>
		              <li<%= sidebar_current("docs-avi-cloudproperties") %>>
              <a href="/docs/providers/avi/r/avi_cloudproperties.html">CloudProperties</a>
            </li>
		              <li<%= sidebar_current("docs-avi-applicationpersistenceprofile") %>>
              <a href="/docs/providers/avi/r/avi_applicationpersistenceprofile.html">ApplicationPersistenceProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-backup") %>>
              <a href="/docs/providers/avi/r/avi_backup.html">Backup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-networksecuritypolicy") %>>
              <a href="/docs/providers/avi/r/avi_networksecuritypolicy.html">NetworkSecurityPolicy</a>
            </li>
		              <li<%= sidebar_current("docs-avi-seproperties") %>>
              <a href="/docs/providers/avi/r/avi_seproperties.html">SeProperties</a>
            </li>
		              <li<%= sidebar_current("docs-avi-gslbgeodbprofile") %>>
              <a href="/docs/providers/avi/r/avi_gslbgeodbprofile.html">GslbGeoDbProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-gslbservice") %>>
              <a href="/docs/providers/avi/r/avi_gslbservice.html">GslbService</a>
            </li>
		              <li<%= sidebar_current("docs-avi-gslb") %>>
              <a href="/docs/providers/avi/r/avi_gslb.html">Gslb</a>
            </li>
		              <li<%= sidebar_current("docs-avi-cluster") %>>
              <a href="/docs/providers/avi/r/avi_cluster.html">Cluster</a>
            </li>
		              <li<%= sidebar_current("docs-avi-clusterclouddetails") %>>
              <a href="/docs/providers/avi/r/avi_clusterclouddetails.html">ClusterCloudDetails</a>
            </li>
		              <li<%= sidebar_current("docs-avi-wafpolicy") %>>
              <a href="/docs/providers/avi/r/avi_wafpolicy.html">WafPolicy</a>
            </li>
		              <li<%= sidebar_current("docs-avi-wafprofile") %>>
              <a href="/docs/providers/avi/r/avi_wafprofile.html">WafProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-snmptrapprofile") %>>
              <a href="/docs/providers/avi/r/avi_snmptrapprofile.html">SnmpTrapProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-systemconfiguration") %>>
              <a href="/docs/providers/avi/r/avi_systemconfiguration.html">SystemConfiguration</a>
            </li>
		              <li<%= sidebar_current("docs-avi-networkprofile") %>>
              <a href="/docs/providers/avi/r/avi_networkprofile.html">NetworkProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-errorpagebody") %>>
              <a href="/docs/providers/avi/r/avi_errorpagebody.html">ErrorPageBody</a>
            </li>
		              <li<%= sidebar_current("docs-avi-errorpageprofile") %>>
              <a href="/docs/providers/avi/r/avi_errorpageprofile.html">ErrorPageProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-controllerproperties") %>>
              <a href="/docs/providers/avi/r/avi_controllerproperties.html">ControllerProperties</a>
            </li>
		              <li<%= sidebar_current("docs-avi-healthmonitor") %>>
              <a href="/docs/providers/avi/r/avi_healthmonitor.html">HealthMonitor</a>
            </li>
		              <li<%= sidebar_current("docs-avi-analyticsprofile") %>>
              <a href="/docs/providers/avi/r/avi_analyticsprofile.html">AnalyticsProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-cloud") %>>
              <a href="/docs/providers/avi/r/avi_cloud.html">Cloud</a>
            </li>
		              <li<%= sidebar_current("docs-avi-cloudconnectoruser") %>>
              <a href="/docs/providers/avi/r/avi_cloudconnectoruser.html">CloudConnectorUser</a>
            </li>
		              <li<%= sidebar_current("docs-avi-virtualservice") %>>
              <a href="/docs/providers/avi/r/avi_virtualservice.html">VirtualService</a>
            </li>
		              <li<%= sidebar_current("docs-avi-vsvip") %>>
              <a href="/docs/providers/avi/r/avi_vsvip.html">VsVip</a>
            </li>
		              <li<%= sidebar_current("docs-avi-alertsyslogconfig") %>>
              <a href="/docs/providers/avi/r/avi_alertsyslogconfig.html">AlertSyslogConfig</a>
            </li>
		              <li<%= sidebar_current("docs-avi-alertscriptconfig") %>>
              <a href="/docs/providers/avi/r/avi_alertscriptconfig.html">AlertScriptConfig</a>
            </li>
		              <li<%= sidebar_current("docs-avi-alertconfig") %>>
              <a href="/docs/providers/avi/r/avi_alertconfig.html">AlertConfig</a>
            </li>
		              <li<%= sidebar_current("docs-avi-actiongroupconfig") %>>
              <a href="/docs/providers/avi/r/avi_actiongroupconfig.html">ActionGroupConfig</a>
            </li>
		              <li<%= sidebar_current("docs-avi-alertemailconfig") %>>
              <a href="/docs/providers/avi/r/avi_alertemailconfig.html">AlertEmailConfig</a>
            </li>
		              <li<%= sidebar_current("docs-avi-vsdatascriptset") %>>
              <a href="/docs/providers/avi/r/avi_vsdatascriptset.html">VSDataScriptSet</a>
            </li>
		              <li<%= sidebar_current("docs-avi-customipamdnsprofile") %>>
              <a href="/docs/providers/avi/r/avi_customipamdnsprofile.html">CustomIpamDnsProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-ipamdnsproviderprofile") %>>
              <a href="/docs/providers/avi/r/avi_ipamdnsproviderprofile.html">IpamDnsProviderProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-poolgroup") %>>
              <a href="/docs/providers/avi/r/avi_poolgroup.html">PoolGroup</a>
            </li>
		              <li<%= sidebar_current("docs-avi-prioritylabels") %>>
              <a href="/docs/providers/avi/r/avi_prioritylabels.html">PriorityLabels</a>
            </li>
		              <li<%= sidebar_current("docs-avi-poolgroupdeploymentpolicy") %>>
              <a href="/docs/providers/avi/r/avi_poolgroupdeploymentpolicy.html">PoolGroupDeploymentPolicy</a>
            </li>
		              <li<%= sidebar_current("docs-avi-pool") %>>
              <a href="/docs/providers/avi/r/avi_pool.html">Pool</a>
            </li>
		              <li<%= sidebar_current("docs-avi-network") %>>
              <a href="/docs/providers/avi/r/avi_network.html">Network</a>
            </li>
		              <li<%= sidebar_current("docs-avi-serverautoscalepolicy") %>>
              <a href="/docs/providers/avi/r/avi_serverautoscalepolicy.html">ServerAutoScalePolicy</a>
            </li>
		              <li<%= sidebar_current("docs-avi-autoscalelaunchconfig") %>>
              <a href="/docs/providers/avi/r/avi_autoscalelaunchconfig.html">AutoScaleLaunchConfig</a>
            </li>
		              <li<%= sidebar_current("docs-avi-applicationprofile") %>>
              <a href="/docs/providers/avi/r/avi_applicationprofile.html">ApplicationProfile</a>
            </li>
		              <li<%= sidebar_current("docs-avi-httppolicyset") %>>
              <a href="/docs/providers/avi/r/avi_httppolicyset.html">HTTPPolicySet</a>
            </li>
		              <li<%= sidebar_current("docs-avi-serviceengine") %>>
              <a href="/docs/providers/avi/r/avi_serviceengine.html">ServiceEngine</a>
            </li>
		              <li<%= sidebar_current("docs-avi-useraccount") %>>
              <a href="/docs/providers/avi/r/avi_useraccount.html">UserAccount</a>
            </li>
		              <li<%= sidebar_current("docs-avi-fileservice") %>>
              <a href="/docs/providers/avi/r/avi_fileservice.html">FileService</a>
            </li>
		              <li<%= sidebar_current("docs-avi-server") %>>
              <a href="/docs/providers/avi/r/avi_server.html">Server</a>
            </li>
		            </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
